[2018-04-13 22:56] awly opened #6 "gke-certificates-controller: approve kubelet serving certificates"
Validate VM info in CSR against GCE API and approve/deny.

[2018-05-24 14:43] jessfraz opened #16 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 21:48] awly commented on #6
Fixed via https://github.com/kubernetes/cloud-provider-gcp/pull/7

[2018-05-24 21:48] #6 closed

[2018-05-24 21:49] awly opened #18 "Get prow to compile/run tests on PRs"
@calebamiles do you know how to make this work?

[2018-07-03 21:33] mikedanese opened #26 "gcp-controller-manager should support enabling, disabling specific controllers"
cc @awly

[2018-07-16 09:23] aojea opened #33 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-07-17 18:48] mikedanese commented on #18
/assign

[2018-07-25 20:32] awly commented on #26
@mikedanese this is done, right?

[2018-09-28 20:59] awly commented on #18
Fixed in https://github.com/kubernetes/test-infra/pull/8853

[2018-09-28 20:59] #18 closed

[2018-09-28 21:02] awly opened #54 "Break up gcp-controller-managed into logical packages"
Right now it's:
- minimal package main
- package app that has _~everything_

Proposed structure:
- minimal main
- `pkg/controller`
- `pkg/controller/csrapprover`
- `pkg/controller/csrsigner`
- `pkg/controller/nodeannotator`
- `pkg/cacache`

[2018-09-28 21:04] awly opened #55 "Migrate from dep to modules"

[2019-01-09 17:55] awly commented on #54
/remove-lifecycle stale

[2019-01-11 00:31] awly commented on #55
/remove-lifecycle stale

[2019-01-28 17:18] awly commented on #55
Migrated from dep to modules.
After offline discussion with @mikedanese decided to stick with bazel for familiarity and ease of adding CCM to the repo.

[2019-01-28 17:18] #55 closed

[2019-07-03 17:36] rifelpet opened #103 "Fix support on case-insensitive filesystems"
cloud-provider-gcp has a `BUILD` file in its project root alongside a `build` directory. This causes issues on case-insensitive filesystems like on MacOS.

For example, a fresh git clone:

[code]

and a `dep init` in a project that includes `k8s.io/cloud-provider-gcp`:

[code]

Would it be possible to fix this? perhaps renaming the build directory.

[2019-07-08 14:29] FabioAntunes opened #104 "Documentation"
Hey folks,

Apologies if this is not the place to ask this, but I couldn't find any documentation regarding using this controller on gce.

The k8s documentation is very broad and cloud agnostic.  Any help/suggestions?

[2019-07-20 01:18] #103 closed

[2019-07-31 18:12] awly commented on #104
Sorry for the slow response.

[gcp-controller-manager](https://github.com/kubernetes/cloud-provider-gcp/tree/master/cmd/cloud-controller-manager) is primarily developed for use in GKE and is probably not usable on a regular GCE cluster.

@cheftako or @mikedanese could comment on [cloud-controller-manager](https://github.com/kubernetes/cloud-provider-gcp/tree/master/cmd/cloud-controller-manager).
I

[2019-08-01 01:11] cheftako commented on #104
gcp-controller-manager is GKE (Google managed Kubernetes) specific as previously mentioned.
Cloud-controller-manager is part of the cloud provider extraction effort.
There is a preliminary (read very alpha) version of Kubernetes on GCE which uses it.
The intent is that GCE (and all other in tree cloud provider) Kubernetes should be using cloud controller manager by the end of next year.

[2019-08-01 11:32] FabioAntunes commented on #104
Ok folks, thanks for the help!

[2019-08-01 11:32] #104 closed

[2019-10-25 14:39] mikedanese opened #115 "Migrate gcp-controller-manager leader election client to lease locak."

[2019-10-28 14:14] zuzzas opened #116 "RBAC lacks cluster-id ConfigMap permissions"
and I can't determine whether it is intentional.

Looking at the [implementation](https://github.com/kubernetes/kubernetes/blob/v1.14.1/pkg/cloudprovider/providers/gce/gce_clusterid.go#L200-L203), it seems like there is a clear need for a CREATE permission on configmap resources. Unfortunately, Role [manifest](https://github.com/kubernetes/cloud-provider-gcp/blob/master/deploy/cloud-node-controlle

[2019-12-23 09:11] ialidzhikov opened #125 "Cannot build on darwin_amd64"
Operating system: macOS Catalina 10.15.1

Steps to reproduce:
1. Close the repository
[code]

2. Install bazel
[code]

3. Ensure that the publish fails
[code]

[2019-12-23 10:22] ialidzhikov commented on #125
Workarounded by running local container with
[code]

and setting up everything here.

[2019-12-23 10:26] ialidzhikov opened #126 "Provide steps how to push to docker.io"
Currently as far I see only publishing image to gcr.io is supported
https://github.com/kubernetes/cloud-provider-gcp/blob/ef10a68cfea1e0274363fb217cf713d8aba80800/defs/container.bzl#L28-L36

I would be nice if there are steps how to achieve the same for docker.io.

[2020-01-03 00:26] mikedanese commented on #125
This is probably because we are building with boringcrypto and haven't added a release for darwin.

https://github.com/kubernetes/cloud-provider-gcp/blob/ef10a68cfea1e0274363fb217cf713d8aba80800/WORKSPACE#L45-L51

[2020-01-09 23:27] awly commented on #125
Looks like https://storage.googleapis.com/go-boringcrypto/ doesn't provide darwin releases at all.

Interestingly, this works for me (on a linux host):
[code]

It's also odd that your error message says: `invalid registered toolchain '@go_sdk//:go_android_amd64': no such package '@go_sdk//': unsupported platform darwin_amd64` - where did `go_androind_amd64` come from?

[2020-01-26 12:53] ialidzhikov commented on #125
I can confirm that removing
https://github.com/kubernetes/cloud-provider-gcp/blob/ef10a68cfea1e0274363fb217cf713d8aba80800/WORKSPACE#L45-L51

allows building on darwin_amd64.w

[2020-02-20 17:19] #126 closed

[2020-02-20 17:21] awly commented on #126
See https://github.com/kubernetes/cloud-provider-gcp#publishing-gcp-controller-manager-image, custom registry is now supported.

[2020-03-26 15:40] #116 closed

[2020-03-26 20:45] #115 closed

[2020-04-06 14:38] mjenk664 opened #141 "Enable Functionality to Support a Shared-VPC Model"
Hi All,

We are running a K8s Cluster in GCP deployed using Pivotal Container Service 1.6.1.

The current architecture is defined using a Shared-VPC Model inside of GCP. The vpc-network is configured in the Host project and the cluster is configured in the Service project.

After provisioning the cluster and deploying a Service of type `LoadBalancer`, it fails to actually provision a resource insi

[2020-04-14 20:24] #54 closed

[2020-04-22 08:08] amwat opened #145 "Cluster kube-up references sha1"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/cloud-provider-gcp/144/cloud-provider-gcp-e2e-create/1252861902158041089#1:build-log.txt%3A96

I think those are no longer generated?

Cleaning the bazel cache exposes the problem.
[code]

/cc @cheftako @BenTheElder

[2020-04-22 08:11] BenTheElder commented on #145
https://github.com/kubernetes/release/pull/859

[2020-04-22 08:12] BenTheElder commented on #145
1.18+ don't publish md5 / sha1 https://github.com/kubernetes/release/pull/868

[2020-07-31 05:00] BenTheElder commented on #145
/remove-lifecycle stale
/assign @cheftako
I think you fixed this already?

[2020-08-03 17:25] ahmedtd opened #161 "cloud-provider-gcp-e2e-create is failing"
[Failing run](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/cloud-provider-gcp/160/cloud-provider-gcp-e2e-create/1290113062119936000)

[Most recent passing run](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/cloud-provider-gcp-e2e-create/1287869918007529472)

The only difference I see is a change in the kubekins-e2e image:  v20200802-ff98b58-master vs v20200726-f8d

[2020-08-03 18:46] hasheddan commented on #161
@ahmedtd I believe this actually started on the kubekins bump to `v20200731-4e0521e-master` (https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/cloud-provider-gcp-e2e-create/1289359849947140096)

[2020-08-03 18:50] hasheddan commented on #161
This is the commit range you will want to look at: https://github.com/kubernetes/test-infra/compare/e636ee2...4e0521e

[2020-08-03 19:03] MushuEE commented on #161
Docker is not opted into for this job, this was migrated to Kubetest2 10 days ago. Something might now require docker. Will sync with @amwat and @michaelmdresser

[2020-08-03 19:12] amwat commented on #161
kubetest2 moved to containerized builds. We will either need to enable docker-in-docker for this job or better just `go get` kubetest2.
/assign @michaelmdresser
since I think Michael was already working on something like this.

[2020-08-03 19:36] ahmedtd commented on #161
To unblock my PR that's dependent on this job, do you think it would be sufficient to set the DOCKER_IN_DOCKER_ENABLED variable from the job's prow configuration?

https://github.com/kubernetes/test-infra/blob/master/images/bootstrap/runner.sh#L60

[2020-08-03 19:39] michaelmdresser commented on #161
I believe that would get the test to run, but I'm already working on a fix the "right way" with `go get`. Both changes are small alterations of the prow job and require the same amount of testing. I should have a fix in a PR within a few hours.

[2020-08-03 19:40] ahmedtd commented on #161
OK, sounds good!  Thank you.

[2020-08-03 21:16] cheftako commented on #145
/close

[2020-08-03 21:16] #145 closed

[2020-08-03 21:16] cheftako commented on #145
I believe so

[2020-08-03 23:24] michaelmdresser commented on #161
@ahmedtd Fix merged and I triggered a retest on your PR which just passed.

[2020-08-03 23:25] MushuEE commented on #161
thanks @michaelmdresser

[2020-08-03 23:35] michaelmdresser commented on #161
/close

[2020-08-03 23:35] #161 closed

[2020-09-03 17:29] #141 closed

[2020-09-07 11:58] #125 closed

[2020-10-16 20:41] liggitt opened #165 "Update to use CSR certificates.k8s.io/v1 API before v1.22"
CSR APIs earlier than certificates.k8s.io/v1 are deprecated and scheduled to no longer be served in Kubernetes v1.22

The CSR approver/signer controllers in this repo should be updated to use the v1 API prior to that.

The certificates.k8s.io/v1 APIs are available starting in v1.19

/cc @mikedanese @ahmedtd

[2020-10-23 06:29] liggitt commented on #165
I think this is done in https://github.com/kubernetes/cloud-provider-gcp/pull/166

[2020-11-20 20:25] DangerOnTheRanger opened #173 "Remove copied credential provider code once relevant PRs merge"
In order for #168 to not depend on any k/k-private code, some packages had to be copied out from other PRs. Those packages are:
* `pkg/apis/credentialprovider` - from https://github.com/kubernetes/kubernetes/pull/94196/, can be removed once cloud-provider-gcp supports k8s v1.20
* `pkg/gcpcredential` - from https://github.com/kubernetes/kubernetes/pull/95775, can be removed once the PR merges into

[2020-12-02 16:18] #165 closed

[2020-12-14 23:13] benhxy opened #177 "Migrate seccomp annotation to API field in manifests"
/kind deprecation

Seccomp (secure computing mode) support for Kubernetes has graduated to General Availability (GA). This feature can be used to increase the workload security by restricting the system calls for a Pod (applies to all containers) or individual containers.

seccomp.security.alpha.kubernetes.io/pod and container.seccomp.security.alpha.kubernetes.io/… annotations are now deprecated,

[2021-02-18 22:18] bowei opened #187 "Add "how to get bazel" instructions to the README"
We should document how to get the build working from the readme. Right now, it seems to skip that step.

[2021-03-16 18:02] DangerOnTheRanger commented on #173
/remove-lifecycle stale

[2021-03-22 18:58] benhxy commented on #177
/remove-lifecycle stale

[2021-03-24 16:57] cici37 opened #194 "Update go version"
Since k/k has been updated to go1.15 in v1.19, go1.16 in v1.21, better to keep cloud-provider-gcp synced.

[2021-03-24 16:59] cici37 commented on #194
/assign

[2021-03-30 15:23] #194 closed

[2021-04-02 17:56] cici37 opened #199 "Fix golint failure in cloud-provider-gcp/cmd/auth-provider-gcp/app/getcredentials.go"
Golint check shows some suggestions in getcredentials.go
![Screen Shot 2021-04-02 at 10 51 26 AM](https://user-images.githubusercontent.com/8658046/113440867-14ed1980-93a2-11eb-9847-dacb992542c7.png)

Ref: https://github.com/kubernetes/cloud-provider-gcp/pull/198

[2021-04-02 18:21] cici37 commented on #199
/assign @DangerOnTheRanger

Would you mind to add some comments on this file to resolve golint failures? Thank you

[2021-04-06 17:50] #199 closed

[2021-04-22 00:08] cici37 opened #206 "Add soft link on //providers"
Add soft link to make sure the development under //provider could be reflected immediately.

[2021-04-27 22:00] cici37 opened #210 "Handle build tag `providerless` when extractions compeleted"
providerless is a build directive specific to K/K. (See https://github.com/kubernetes/kubernetes/pull/80353) It may make sense to keep it for now, as it may still be useful when we are vendored back into K/K but we should have an issue to clean this up once extraction completes. Also its worth being aware of as if we somehow inherit those build rules into this repo it will cause us problems.

_Ori

[2021-04-28 19:14] jpbetz opened #211 "tests in provider/gce can fail due to missing test dependencies"
Example test failure for https://github.com/kubernetes/cloud-provider-gcp/pull/204 : https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/cloud-provider-gcp/204/cloud-provider-gcp-tests/1387458716499972096/build-log.txt

The problem here seems to be related to the fact that there are now two modules in cloud-provider-gcp:
- root module
- module under `providers/gcp`

The failing test com

[2021-04-28 19:14] jpbetz commented on #211
@cici37 @jiahuif Feel free to correct me with anything I got wrong in the above.

[2021-05-03 04:59] cheftako opened #214 "Migrate cluster changes between v1.18 & v1.19 from K/K to K/cloud-provider-gcp"
K/cloud-provider-gcp cluster is a forklift of the version in K/K. It then has changes applied to it to support things like the KCM, CSI migration, ANP etc. It is necessary to keep applyingmerging the changes from K/K to K/cloud-provider-gcp.

The list of these changes can be computed using
```git rev-list origin/release-1.18..origin/release-1.19 cluster/gce cluster/kube-up.sh cluster/common.sh clu

[2021-05-03 05:04] cheftako commented on #214
/cc @jpbetz @cici37

[2021-05-03 23:27] cici37 opened #215 "Call utilflag.InitFlags() in CCM main.go after switch over to Cobra commands"
Ref: https://github.com/kubernetes/cloud-provider-gcp/blob/4c23353cc605748c42563f43829871424a648d40/cmd/cloud-controller-manager/main.go#L53

It was been added by kubernetes/kubernetes#58407. And together within some other files(like https://github.com/kubernetes/kubernetes/blob/271476446b32bfc69a95ea20d8b02d5303128f5e/cmd/kube-proxy/proxy.go#L39).

[2021-05-04 19:12] jpbetz commented on #214
/assign

I've got a WIP that is attempting to tackle this. I'll explain in more detail shortly.

[2021-05-04 20:23] cici37 commented on #206
Fixed by above pr.
/close

[2021-05-04 20:23] #206 closed

[2021-05-04 20:25] cici37 commented on #177
/assign
I have a WIP to address it. Will raise the pr when it is ready

[2021-05-04 20:35] cici37 commented on #214
Something might be related: https://github.com/kubernetes/cloud-provider-gcp/issues/177

[2021-05-04 21:16] cici37 commented on #177
After talking with @jpbetz offline, the current issue will be included in his WIP pr within: https://github.com/kubernetes/cloud-provider-gcp/issues/214

/unassign

[2021-05-05 16:41] jpbetz commented on #177
https://github.com/kubernetes/cloud-provider-gcp/pull/216 already fixes most of these. Adding the remaining fixes to it as a separate commit now.

[2021-05-05 19:46] jpbetz commented on #214
Addressing the short term issue with #216. I'll look into the long term maintenance options and propose a design for that.

[2021-05-05 21:14] cici37 commented on #187
Fixed by https://github.com/kubernetes/cloud-provider-gcp/pull/192

[2021-05-05 21:14] #187 closed

[2021-05-05 22:38] SergeyKanzhelev opened #220 "the logic checking whether instance belongs to cluster needs to handle errors better"
We hit situation when a single nodepool issue (IGM was deleted and got stuck in this state) caused this logic to fail:

https://github.com/kubernetes/cloud-provider-gcp/blob/6a0760c20d552726b0096eacb9d242109ce3d418/cmd/gcp-controller-manager/csr_approver.go#L575-L614

[code]

Ideally the error handling logic in the function should skip errors and only fail with error if instance is not found in an

[2021-05-10 11:39] adisky opened #223 "No Release binary available for any GCP plugins"
I was trying to use gcp auth exec plugin for kubelet credential provider
https://github.com/kubernetes/cloud-provider-gcp/tree/master/cmd/auth-provider-gcp
There are no binaries available, I have to build locally and use.

[2021-05-10 21:20] jpbetz commented on #223
We're not currently providing binary releases. There are a couple reasons for this. The most important is that we're not offering any sort of stability guarantee as-of-yet. cloud-provider-gcp is currently a work-in-progress. It serves as a reference example of an out-of-tree cloud provider, and over time should serve as a replacement for the in-tree GCP cloud provider, but again, that's a work-in-

[2021-05-10 23:35] #214 closed

[2021-05-10 23:35] #177 closed

[2021-05-11 05:53] adisky opened #226 "GCP Credential provider not returning valid cache key type"
While trying to use the GCP image credential provider plugin getting errors in the kubelet logs
```credential provider plugin did not return a valid cacheKeyType: ""```

Not sure but on digging some code, it is not returning any value for `cacheKeyType`
https://github.com/kubernetes/cloud-provider-gcp/blob/master/cmd/auth-provider-gcp/provider/provider.go#L84

`cacheKeyType` is required to be spec

[2021-05-11 17:51] cheftako commented on #226
/assign @DangerOnTheRanger
/cc @jpbetz

[2021-05-13 10:25] fredleger opened #232 "Documentation: missing instruction on how to generate cloud-controller-manager manifests ready to use"
Seems that if you are not a bazel expert (like me) it's not straight forward to build the cloud-controller-manager manifets to try it.

[2021-05-13 18:57] cheftako commented on #232
/cc @jiahuif @BenTheElder

[2021-05-17 17:09] DangerOnTheRanger opened #233 "E2E testing for credential provider"
The provider has a unit test suite but could use some work on the E2E side. It should be integrated with the new E2E test that cloud-provider-gcp has (`cloud-provider-gcp-e2e-full`), so either integration with the rest of the kubetest2 suite or modifying the presubmit itself will likely be necessary, I believe. The actual test itself should at least involve bringing up a cluster with the provider

[2021-05-17 17:09] DangerOnTheRanger commented on #233
/assign @DangerOnTheRanger

[2021-05-20 14:11] adisky commented on #233
@DangerOnTheRanger @cheftako We are planning to move external credential provider to beta in 1.22, and adding integration/e2e tests with gcp credential provider,  we need the plugin to be working. Two issues I have observed  one is https://github.com/kubernetes/cloud-provider-gcp/issues/226 another one is the response[1] returned by the gcp plugin cannot be decoded by credential provider
[1]https:

[2021-06-15 20:37] #226 closed

[2021-06-16 16:48] DangerOnTheRanger commented on #173
/remove-lifecycle stale
/assign @DangerOnTheRanger

[2021-06-22 19:58] BenTheElder commented on #232
@cheftako is this even done with bazel? You mean the pod spec for running it? Pretty sure that's done with a bunch of bash in the cluster/ dir. If you mean manifests as in multi-arch images then https://github.com/kubernetes/cloud-provider-gcp#publishing-gcp-controller-manager-image

[2021-06-29 21:37] cheftako commented on #232
Thanks @BenTheElder. Teaches me to stop reading early. The CCM binary/image is built by bazel. However the manifest template can be found at https://github.com/kubernetes/cloud-provider-gcp/blob/master/cluster/gce/manifests/cloud-controller-manager.manifest. The template is then expanded by the function start-cloud-controller-manager at https://github.com/kubernetes/cloud-provider-gcp/blob/master/

[2021-06-30 07:31] fredleger commented on #232
Got it. My assumption that it was a bazel process in the build was wrong (totally newbie at bazel). It's just templating used internaly right ?

So I guess i should rephrase my question

I have a vanilla k3s cluster runing on GCP nodes. How to generate / find manifests to deploy the cloud provider in the cluster (mainly to have LB svc support) ? Same way i did this on aws: https://github.com/kuber

[2021-06-30 15:56] BenTheElder commented on #232
The comment just above https://github.com/kubernetes/cloud-provider-gcp/issues/232#issuecomment-870935684 contains the template of the manifest for deployment, which is templated by the shell code linked above. That script is part of a larger script that brings up test clusters for development + CI.

Bazel is used to build the docker images currently, but not for the manifest templating.

[2021-07-01 05:47] adisky opened #245 "Unable to install GCP credential provider with 'go get' or 'go install'"
Using go get getting following error

[code]

Using go install getting following error

[code]

[2021-07-01 05:47] adisky commented on #245
cc @cheftako @DangerOnTheRanger

[2021-07-01 17:01] DangerOnTheRanger commented on #245
`go get`/`go install` are not supported methods of installation, I believe. You'll have to use bazel as outlined in the README. Installing the credential provider independently of the other components of cloud-provider-gcp isn't supported either. You can build it independently in the normal bazel way, i.e, `bazel build //cmd/auth-provider-gcp:auth-provider-gcp`, but things like handling deployment

[2021-07-01 19:45] jpbetz commented on #245
Yes, `go get / go install` are unsupported. We currently support bazel but may move to make in the future. see the [README](https://github.com/kubernetes/cloud-provider-gcp/blob/master/README.md)

[2021-07-02 17:44] #245 closed

[2021-08-02 17:54] #215 closed

[2021-08-20 14:29] Fedosin opened #266 "go mod tidy returns an error about a broken link for https://knative.dev/eventing-contrib"
After a recent update of API, when I try to execute `go mod tidy` on a freshly cloned repo, I see this error:
❯ go mod tidy
go: sigs.k8s.io/kubetest2@v0.0.0-20210423234514-1c731a5d2283 requires
	sigs.k8s.io/boskos@v0.0.0-20200710214748-f5935686c7fc requires
	k8s.io/test-infra@v0.0.0-20200617221206-ea73eaeab7ff requires
	github.com/tektoncd/pipeline@v0.11.0 requires
	knative.dev/eventing-contrib@v0

[2021-08-30 10:49] Fedosin commented on #266
Seems like it has been fixed

[2021-08-30 10:49] #266 closed

[2021-09-02 23:10] #220 closed

[2021-09-02 23:10] SergeyKanzhelev commented on #220
this was fixed via #221

[2021-09-17 20:14] cici37 opened #274 "Update go version support and add go version check"
It would be great to keep go version up to date with Kubernetes/kubernetes(we are currently behind).
Add go version check into presubmits checking would help for go version maintenance.

[2021-09-25 10:51] #210 closed

[2021-09-25 16:48] justinsb opened #279 "Are all failures merely temporary bumps in the road?"
The logic for temporaryError is suspicious:
https://github.com/kubernetes/cloud-provider-gcp/blob/3266c50605d8f56db6967056346dfa99f1a0a828/cmd/gcp-controller-manager/node_csr_approver.go#L560-L562

https://github.com/kubernetes/cloud-provider-gcp/blob/3266c50605d8f56db6967056346dfa99f1a0a828/cmd/gcp-controller-manager/node_csr_approver.go#L451-L455

Because these are interfaces (not structs), I be

[2021-09-25 19:57] #211 closed

[2021-10-07 22:06] #223 closed

[2021-10-14 14:17] Fedosin opened #281 ""Forbidden" error code when using GCP CCM"
A recent change https://github.com/kubernetes/cloud-provider-gcp/pull/268 introduced IPv6 support, but it also began to require Google Cloud Compute Aplha API access. Unfortunately our CI doesn't have this access and therefore, when I start the CCM, it shows this error:

More [logs](https://gcsweb-ci.apps.ci.l2s4.p1.openshiftapps.com/gcs/origin-ci-test/pr-logs/pull/openshift_cluster-cloud-controll

[2021-11-03 10:35] Fedosin opened #286 "Incorrect URL format for load balancers"
When creating a load balancer, I get the next error from google API:

[code]

This happens because of the change in Google API SDK that was added here with the version bump in https://github.com/kubernetes/cloud-provider-gcp/pull/262:

[code]

`basePath` has been changed, so `targetPoolURL` returns incorrect result: https://github.com/kubernetes/cloud-provider-gcp/blob/master/providers/gce/gce_loa

[2021-11-04 20:34] #281 closed

[2021-11-05 10:27] frezbo opened #289 "There are no official published images for CCM"
I see that `k8s.gcr.io/cloud-controller-manager` is published up to version 1.15.9. Are the images not published anymore or has the images registry changed?

[2021-11-13 18:31] #173 closed

[2021-11-14 21:03] zetaab commented on #289
@jingxu97 @saad-ali do you have idea could owners of this repository build the image and start publishing it? We (kOps) are thinking to start implementing external ccm for GCP but it is really difficult if the basics like CI release pipeline is missing.

[2021-11-15 14:18] frezbo opened #291 "Nodes network-unavailable taint not removed after installing ccm"
After installing `ccm` the `node.kubernetes.io/network-unavailable` taint is added if `--configure-cloud-routes=false` is set to false. Here's the args used to initialize the ccm

[code]

[2021-11-17 17:07] DangerOnTheRanger opened #292 "CCM/GCP feature gate filter should unconditionally log which feature gates were filtered out"
#283 merged with a log line that would be printed if all feature gates were filtered from the CCM, but it would be better to unconditionally log which feature gates were filtered, regardless of whether or not the CCM ends up with any feature gates sent to it.

[2021-11-17 17:07] DangerOnTheRanger commented on #292
/assign @DangerOnTheRanger

[2021-11-22 20:29] leiyiz opened #293 "run test jobs / gce-pd tests that're skipped in k/k due to CSIMigrationGCE"
in K/K there're jobs that are skipped, either explicitly by adding `Driver:.gcepd` to the test skip, or implicitly by adding `[[Feature:StorageProvider]` or skipped if there is no default storage class installed.

In order to recover the lost testing coverage, we need to:
- run them with clusters brought up by cloud-provider-gcp since they would have pdcsi drivers installed by default.
- make sure

[2021-11-22 22:39] #286 closed

[2021-11-24 21:29] liggitt commented on #293
is this why these tests started failing in upgrade jobs: https://storage.googleapis.com/k8s-triage/index.html?test=PVC%20Protection%7CdiffResources%7CFeature%3AClusterUpgrade&xtext=exec&xjob=flaky%7Cwindows%7Ccount10&xtest=Volume%7C%5E(Up%7CTest%7CTimeout%7CTearDown%7CUpgradeTest)%24%7C%5BsS%5Dtateful%5BsS%5Det

* `[sig-storage] PVC Protection Verify "immediate" deletion of a PVC that is not in ac

[2021-11-24 22:39] leiyiz commented on #293
I think the failures in upgrade jobs are indeed caused by this.

PVC Protection tests should already be skipped because of `e2epv.SkipIfNoDefaultStorageClass(client)`, not sure why it was still running, next step is to investigate if a default storage class is installed for upgeade jobs

[2021-11-24 22:39] liggitt commented on #293
I think the upgrade tests from 1.22 to 1.23 run with the test code from the release-1.22 branch

[2021-11-24 22:42] leiyiz commented on #293
Oh, does that mean that the cluster is originally brought up by 1.22 kube-up?

[2021-11-24 22:51] liggitt commented on #293
yes

[2021-11-27 17:32] #232 closed

[2021-12-01 20:35] #292 closed

[2021-12-10 19:10] jpbetz opened #297 "verify prow job should print go version used"
While debugging cloud-provider-gcp-verify-all failures for https://github.com/kubernetes/cloud-provider-gcp/pull/294 (e.g. https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/cloud-provider-gcp/294/cloud-provider-gcp-verify-all/1469112391093456896). I couldn't find the go version that was used in the prow job run. This made it difficult to debug. We should print it out.

cc @sugangli

[2021-12-10 19:11] jpbetz commented on #297
/assign @cici37

[2021-12-10 19:15] jpbetz opened #298 "cloud-provider-gcp prow jobs should use same version as in go.mod"
prow uses go 1.17
go.mod has 1.16

Having the go.mod files use 1.16 while prow uses 1.17 resulted in gofmt expecting files to be formatted differently (go 1.17 introduced "go:build" tags).

There are two parts to this:
- we should probably bump to 1.17 now
- I'd like prow and go.mod to stay in sync if at all possible

[2021-12-10 19:15] jpbetz commented on #298
/assign @cici37

[2021-12-10 19:16] jpbetz commented on #298
cc @sugangli

[2021-12-10 19:21] jpbetz opened #299 "README for updating dependencies should be a single command"
https://github.com/kubernetes/cloud-provider-gcp#update-all-dependencies recommends calling `go mod tidy && ./tools/update_vendor.sh` to clean up unused dependencies. We should have `update-vendor.sh` do this automatically (and `verify-vendor.sh` should ensure it was done right, if it doesn't already).

[2021-12-10 19:21] jpbetz commented on #299
/assign @cici37
cc @sugangli

[2021-12-12 19:46] ialidzhikov opened #300 "Cut a release for K8s 1.23"
**What would you like to be added:**
Please cut a release for use with Kubernetes 1.23.

**Why is this needed:**
Kubernetes 1.23.0 has been released. Users should have a fixed tag for pulling a corresponding GCP CCM.

/kind feature
/sig cloud-provider
/priority important-soon

[2021-12-13 15:59] zetaab commented on #300
agree, we tried to request images in https://github.com/kubernetes/cloud-provider-gcp/issues/289 but none is answering.

[2021-12-15 06:46] roylkng opened #302 "Add example/docs for using cloud-controller-manager"
We are using k8s.gcr.io/cloud-controller-manager and looking to upgrade it with latest cloud-provider-gcp binary, but simply replacing the image does not work it required extra arguments but they are not documented anywhere.
I checked out the manifest template mentioned in bug https://github.com/kubernetes/cloud-provider-gcp/issues/232 (it also mentioned adding docs) but here CRD type is pod where

[2022-01-05 08:20] acumino opened #309 "Migrate `cloud-provider-gcp` to use Lease API"
/sig scalability
/sig api-machinery

Support for endpoints and configmaps is removed in K8s 1.24 with kubernetes/kubernetes#106852.
More details about the motivation to switch to leases - ref kubernetes/kubernetes#80289.

To preserve the backwards-compatibility, resource lock for migration purposes (endpointsleases, configmapsleases) should be used when switching from the legacy resource locks (en

[2022-01-05 09:16] acumino commented on #309
/assign

[2022-01-25 20:52] ialidzhikov commented on #300
/reopen
as there are no upstream images provided so far

[2022-02-08 21:58] #297 closed

[2022-02-08 21:58] #299 closed

[2022-02-14 11:04] zetaab commented on #289
/remove-lifecycle stale

[2022-02-14 20:40] #274 closed

[2022-02-14 21:19] cici37 commented on #274
resolved by https://github.com/kubernetes/cloud-provider-gcp/pull/301

[2022-02-14 21:20] cici37 commented on #298
Added go version check in https://github.com/kubernetes/cloud-provider-gcp/pull/301

[2022-02-14 21:20] #298 closed

[2022-02-22 17:58] #279 closed

[2022-03-09 20:31] aledbf commented on #291
/remove-lifecycle stale

[2022-03-09 20:31] aledbf commented on #291
@frezbo did you find a workaround?

[2022-03-09 21:17] pagottoo commented on #289
I folks, we are planning to upgrade our k8s distribution to the latest k8s version, but to support GCE we need to deploy CCM.
any position about the release process of this repo? or each one need to clone and DIY?
the images will be delivery publicly?

[2022-03-14 06:24] frezbo commented on #291
I ended up using the image from here: https://github.com/openshift/cluster-cloud-controller-manager-operator/pull/131

[2022-03-21 10:22] rastislavs opened #324 "Dual-stack support for LoadBalancer k8s services"
Are there any plans to support dual-stack for LoadBalancer k8s services?

I have not found any docs clearly stating dual-stack support for GCP network load-balancers, so not sure whether it is even possible ATM. Just wondering if there are any plans on this?

[2022-04-05 11:47] wojtek-t commented on #309
/remove-lifecycle stale

[2022-04-26 05:24] ialidzhikov commented on #300
/remove-lifecycle stale

[2022-05-06 05:40] szczeles opened #329 "Support `--account` option for `gke-gcloud-auth-plugin`"
The `gke-gcloud-auth-plugin` plugin doesn't allow to inject custom gcloud params, like `--account` option: https://github.com/kubernetes/cloud-provider-gcp/blob/66064c62c6c23110c7a93faca5fba668018df732/cmd/gke-gcloud-auth-plugin/cred/cred.go#L345

Account name option was so far - at lest for me - a very useful way to work with multiple user identities handled by one `.kube/config` file. Otherwise,

[2022-05-14 08:16] #302 closed

[2022-05-15 03:22] #293 closed

[2022-05-26 16:15] jprzychodzen commented on #300
@cici37

We are ready with this repository to cut 1.23 release and tag recent commit with providers/v0.23.0. Could you handle this?

[2022-05-26 17:48] cici37 commented on #300
I have cut the 1.23 release branch: https://github.com/kubernetes/cloud-provider-gcp/branches
Tag providers/v0.23.0: https://github.com/kubernetes/cloud-provider-gcp/tags

I didn't tag a new CCM since the code regarding ccm should remain unchanged. Please let me know if a new CCM tag is needed.

[2022-05-27 05:40] ialidzhikov commented on #300
Thanks @cici37 ! Do you also plan to publish container images?

For your reference:
- [cloud-provider-aws](https://github.com/kubernetes/cloud-provider-aws) - has available container images from v1.18 to v1.24 in `registry.k8s.io/provider-aws/cloud-controller-manager`. Ref https://github.com/kubernetes/cloud-provider-aws/tree/v1.24.0#compatibility-with-kubernetes
- [cloud-provider-azure](https://g

[2022-05-27 08:17] lc-spxl opened #334 "Enabling GCE provider breaks cluster"
Hi
we have a setup with kubeadm on v1.22 with some nodes in GCP VMs and some nodes connected over VPNs. All nodes interacts over VPNs subnet (10.8.0.0/16).

We enabled the provider to use the dynamic storage provisionig but after a couple of days of digging I noticed this behavior:

GCE external nodes (nodes on bare metal machine) where always taint with network unreachable.

kube-controller logs

[2022-05-31 16:28] cici37 commented on #300
Hi @ialidzhikov , I heart some other team has been planning to do so but not sure about the progress. @jprzychodzen Do you have any idea on this one?

[2022-06-07 11:44] #300 closed

[2022-06-17 09:30] itmecho opened #338 "Support `--impersonate-service-account` in `gke-gcloud-auth-plugin`"
I've just upgraded to `kubectl` 1.24 and I'm seeing the warning around deprecating the gcp auth plugin.

[code]

I've followed the commands from the article and everything is working without the warning. However, we use the `--impersonate-service-account` for our prod environment to raise permissions for an hour but I don't think this is possible using the new auth plugin.

The command used to rai

[2022-06-17 21:01] ialidzhikov commented on #289
/remove-lifecycle stale

[2022-06-17 21:02] ialidzhikov commented on #289
/assign @jprzychodzen

[2022-06-17 21:03] ialidzhikov commented on #289
/priority important-soon

[2022-06-20 02:29] arekkusu commented on #329
[code]

Do you mean running `gcloud config set account...` followed by `gcloud container clusters get-credentials ...` ?
(I don't think setting the account alone is enough, when I tested `gke-gcloud-auth-plugin` always returned the same token)

FYI you can do this to get cluster credential while setting (overwriting) the account using env variable:

[code]

The above + some bash scripting (or kube

[2022-06-20 06:24] szczeles commented on #329
@arekkusu In order to reset the token, after `set account` you need to run `rm $HOME/.kube/gke_gcloud_auth_plugin_cache`, so the plugin will not reuse cached token.

Thanks for the hint with `CLOUDSDK_CORE_ACCOUNT`, I can use it as a temporary workaround until the `account` option is implemented.

[2022-06-20 13:54] DmyMi commented on #291
[code]

The following configuration works for me where `${cluster_cidr}` is substituted by terraform depending on subnet

[2022-06-20 14:00] DmyMi opened #339 "List of minimal required GCP IAM Permissions for running CCM on GCE"
Hello, is there a documented list of all the required IAM roles for running the GCP CCM on GCE?

[2022-06-21 04:28] darklore commented on #329
Is it helpful to you to use CLOUDSDK_CORE_ACCOUNT in `.kube/config` ?
Such like
[code]

[2022-06-21 11:13] szczeles commented on #329
@darklore It would be slightly better, but still `gke-gcloud-auth-plugin` needs to keep multiple caches of the token to make work efficient (in either one file or multiple files, maybe prefixed with account name?)

[2022-06-21 11:42] darklore commented on #329
Yes. I agree.

[2022-06-28 12:58] notoriousTOBP opened #345 "Errors when using `gke-gcloud-auth-plugin` with OAuth token"
Google Cloud SDK **391.0.0**
gke-gcloud-auth-plugin `Kubernetes v1.23.0-alpha+66064c62c6c23110c7a93faca5fba668018df732` **(0.2.0)**

If the gcloud config auth/access_token_file is set to a file containing an OAuth token the `gke-gcloud-auth-plugin` binary throws an error when called:

[code]

This bug isn't present in Google Cloud SDK **380.0.0** / gke-gcloud-auth-plugin `Kubernetes v1.21.0-alpha+

[2022-07-08 14:57] cici37 opened #350 "cut 1.24 release"
1.24 is ready. Cut the branch and tag.

[2022-07-08 23:01] cici37 commented on #350
The tags are created: https://github.com/kubernetes/cloud-provider-gcp/tags
Branch release-1.24 is cut as well.
cc @jprzychodzen

[2022-07-08 23:01] #350 closed

[2022-07-11 09:20] wojtek-t commented on #309
/remove-lifecycle stale

[2022-07-19 11:59] rastislavs commented on #324
/remove-lifecycle rotten
i think dual-stack is an important feature

[2022-07-19 12:18] jprzychodzen commented on #324
@sdmodi Could you share any info here?

[2022-07-30 11:31] #233 closed

[2022-08-12 17:59] spetrovic77 commented on #338
I second this.

Note that the gcp auth plugin also didn't work, i.e., it would exclude the --impersonate-service-account when generating the kube config file. However, it was possible to add the flag manually to the file.

With the new plugin, there just isn't any way to generate auth tokens on behalf of a service account.

[2022-08-19 15:39] #291 closed

[2022-08-28 19:16] heavenly999 opened #359 "Add example/docs for using cloud-controller-manager"
I couldn't find any documentation on how to use this provider in a kubernetes cluster. There is a manifest generation script as mentioned in [#232](https://github.com/kubernetes/cloud-provider-gcp/issues/232#issuecomment-870935684), however it's really not straightforward to use it. Just a simple example manifest would be very useful.

[2022-09-19 14:06] szczeles commented on #329
/remove-lifecycle stale

[2022-09-26 08:03] yang-wang11 opened #371 "Add an annotation for the Load Balancer service instead of the deprecated field LoadBalancerIP"
from Kubernetes 1.24 the field `LoadBalancerIP` will be deprecated, see [here](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md#deprecation)
we have to introduce a new LB annotation for service to avoid the service being unavailable further.

https://github.com/kubernetes/cloud-provider-gcp/issues/371#tasklist-block-15d2024d-538c-4818-afbc-ff33a84ee35c

[2022-09-27 09:18] yang-wang11 commented on #371
on the `EnsureLoadBalancer` of interface `LoadBalancer`, see the below code, there is still use the field `LoadBalancerIP` instead of annotation.
https://github.com/kubernetes/cloud-provider-gcp/blob/d2b22ad6f19d3b11e9c6e2f308dd69a2bab6d660/providers/gce/gce_loadbalancer_internal.go#L146

[2022-10-06 09:30] katexochen commented on #289
@jprzychodzen Any updates on this issue? Seems like there are still no images available.

[2022-10-11 13:27] fiunchinho commented on #359
@heavenly999 did you figure out how to deploy it?

[2022-10-11 16:27] heavenly999 commented on #359
Nope, tried to compose a manifest from the template in the repo but there is no official repo for built images afaik. I tried to build it myself but no luck there either, not really good with blaze

[2022-10-13 07:01] zetaab commented on #371
What is this LB annotation called? Is there information/documentation somewhere?

[2022-10-13 11:41] yang-wang11 commented on #371
@zetaab  the annotation name is provided by the owners themself, the below is the reference for AWS.
https://github.com/kubernetes/cloud-provider-aws/blob/eb83663f3edd341f6923e54907bc7d1a50e526a6/pkg/providers/v1/aws.go#L228

I noticed that Azure already fix this issue in the below PR, hope can help
https://github.com/kubernetes-sigs/cloud-provider-azure/pull/2428

[2022-10-24 09:42] #334 closed

[2022-10-28 09:06] jprzychodzen opened #384 "Running `bazel run //:gazelle` breaks because of `/crd` directory"
Updated:
`/crd` directory is added to `.bazelignore` as it breaks repository bumping process described in [instruction-how-to-bump-repository.md](https://github.com/kubernetes/cloud-provider-gcp/blob/master/docs/instruction-how-to-bump-repository.md).

To fix this issue:
* Ensure that `bazel run //:gazelle` does not generate broken target in `/crd`
* Remove `/crd` from `.bazelignore`

[2022-10-28 09:08] jprzychodzen commented on #384
Added in #375, this breaks repository bumping scripts.

/cc @sdmodi

[2022-10-28 09:08] jprzychodzen commented on #384
New broken target
[code]

[2022-10-28 16:17] sdmodi commented on #384
How do we fix this? We can remove the test files if required.

[2022-11-08 13:30] wojtek-t commented on #309
/remove-lifecycle rotten

[2022-11-12 15:42] joemiller commented on #338
/remove-lifecycle stale

[2022-11-17 14:56] #339 closed

[2022-11-18 12:40] aojea commented on #371
I've should have commented here before going to the PR.
https://github.com/kubernetes/cloud-provider-gcp/pull/394#issuecomment-1319941547

Let me clarify first to avoid unnecessary panic and confusion, the field service.Spec.LoadbalancerIP is not going to be removed until there is no risk of breaking clients, moving to annotations as soon as possible is encourage of course.

The idea is to move mo

[2022-11-18 13:16] yang-wang11 commented on #371
@aojea
I am confused about the below comments. If I correctly understand the words from Lars, he expresses completely different ideas from you
[code]
![image](https://user-images.githubusercontent.com/94777185/202713223-0132e776-bc38-49cc-80ec-38273c5f43d9.png)

[2022-11-18 13:50] aojea commented on #371
scroll down

![image](https://user-images.githubusercontent.com/6450081/202719220-0aa18fe4-03d4-41a8-9a62-b225cb4a9273.png)

See API changes

https://kubernetes.io/docs/concepts/overview/kubernetes-api/#api-changes

See the rules

https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-parts-of-the-api

[2022-11-18 13:55] aojea commented on #371
cloud provider code depend on cloud provider internals, the PR you linked are done by people from those organizations, AWS or Microsoft for Azure because already reached a consensus on which annotation want to support. That is not different here, as I explained somewhere else defining an annotation creates a contract with users and need to be carefully planned

[2022-11-18 13:56] aojea commented on #371
however, this issues is legit and we should not forget about it, thanks for reporting it

[2022-11-20 03:26] yang-wang11 commented on #371
@aojea

Thanks for the explanation. I still have the following concern

* The relationship between [cloud-provider](https://github.com/kubernetes/cloud-provider) and [ingress-gce](https://github.com/kubernetes/ingress-gce)
As far as I know, the`cloud-provider` defines the interfaces that help users easy to use the cloud resources, and should be a part of CNCF;  the `ingress-gce` is an ingress cont

[2022-11-21 17:22] philpearl opened #404 "Node taints should go back to baseline on machine restart"
We apply a taint to nodes, and remove the taint once our daemon is up and running on the node. This then allows other pods to run on the node. We don't want other pods to run on the node until the daemon is up & running.

This works well until the underlying machine is restarted. If the kubernetes node is destroyed and we get a fresh new node then everything is OK. If not then our taint is not rea

[2022-11-25 14:22] #345 closed